
<%- include('partials/header.html') %>

    <section class="py-10">
      <div class="max-w-3xl my-3 mx-auto">
        <div class="w-[100%] relative">
          <!-- <div class="overlay-destaque"></div> -->
          <div class="absolute bottom-0 left-0 py-6 px-9 w-full
          z-10
            bg-black/[0.55] hover:duration-[0.6s] 
            hover:bg-black/[0.85]">
            <a href=<%= news[0].slug %>  style="text-decoration: none;">
              <h2 class="w-[100%] mb-3 text-[20px] md:text-[35px] text-white">
                <%= news[0].titulo %>
              </h2>
            </a>
            <p class="w-[100%] mb-1 text-[15px] md:text-[18px] md:mb-5 font-light text-white">
              <%= news[0].conteudo %>
            </p>
          </div>
          <!-- <img src="/public/images/landscape.jpg" /> -->
          <img class="w-full"
            src= <%= news[0].imagem %> 
          />
        </div>
      </div>
    </section>

    <section class="mb-5">
      <div class="text-center ">
        <h2 class=" text-[rgb(183,77,135)] text-3xl mb-6">
          Latest Articles
        </h2>

        <div class=" flex justify-center">
          <div class=" flex justify-around flex-wrap w-[100%] max-w-5xl">

            <% for(let i=1; i < news.length; i++){ %>

            <div class="group w-[50%] flex flex-col items-center py-8 rounded-md border-none border-gray-400">
              <a href=<%= news[i].slug %>  style="text-decoration: none;">
                <img class="w-[90%] h-[138px] object-cover
                sm:w-[260px] sm:h-[184px]
                md:w-80 md:h-52 md:object-cover
                lg:w-96 lg:h-56"
                src=<%= news[i].imagem %> 
                />
                <div class="text-center">
                  <h3 class="text-blue-900 group-hover:text-[rgb(42,152,241)] group-hover:duration-[0.6s] group-hover:ease-in-out delay-200 ease-out"> 
                    <%= news[i].categoria  %> 
                  </h3>
                  <h2 class="text-white text-lg group-hover:text-[rgb(5,171,140)] group-hover:duration-[0.6s] group-hover:ease-out delay-200 ease-out"> 
                    <%= news[i].titulo %>  
                  </h2>
                </div>
              <!-- <p>Texto sobre surf</p> -->
               </a>
            </div>

            <% } %>

  
          </div>



          <!-- <div class="mais-lidas">
            <h3>Mais lidas</h3>
            <div class="mais-lidas-strip">
              <div class="mais-lidas-news">
                <img src="../public/images/nature.png" />
                <div class="content">
                  <h4>Natureza</h4>
                  <p>textto texto texto texto texto</p>
                </div>
              </div>
            </div>
          </div> -->



        </div>
      </div>
    </section>


    <%- include('partials/footer.html') %>


  </body>
</html>
