
<%- include('partials/header.html') %>

    <section class="noticia-destaque">
      <div class="center">
        <div class="img-destaque">
          <div class="overlay-destaque"></div>
          <div class="title-destaque-descricao">
            <h2>Quer Fugir das Praias de Verão?</h2>
            <p>
              Donec consectetur libero eget bibendum ullamcorper. Quisque auctor
              nulla eu enim ultrices laoreet. Nam eget neque odio. Sed vehicula
              imperdiet diam, a lacinia dui dictum a.
            </p>
          </div>
          <img src="/public/images/landscape.jpg" />
        </div>
      </div>
    </section>

    <section class="outras-news">
      <div class="title-outras-news">
        <h2>Últimas notícias</h2>
        <div class="center">
          <div class="ultimas">
            <div class="box-news">
              <img src="../public/images/surf.png" />
              <h3>Natureza e Geral</h3>
              <h2>Como encarar o surf em Floripa</h2>
              <!-- <p>Texto sobre surf</p> -->
            </div>

            <div class="box-news">
              <img src="../public/images/surf.png" />
              <h3>Natureza e Geral</h3>
              <h2>Como encarar o surf em Floripa</h2>
              <!-- <p>Texto sobre surf</p> -->
            </div>
          </div>
          <div class="mais-lidas">
            <h3>Mais lidas</h3>
            <div class="mais-lidas-strip">
              <div class="mais-lidas-news">
                <img src="../public/images/nature.png" />
                <div class="content">
                  <h4>Natureza</h4>
                  <p>textto texto texto texto texto</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


    <%- include('partials/footer.html') %>


  </body>
</html>
